<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::header(~{::title})">
    <meta charset="UTF-8">
    <!-- 适应移动端 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../static/css/me.css">
    <title>关于我</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragment::navigation(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!-- Logo -->
            <h2 class="ui blue header item">Blog</h2>
            <!-- 左边导航栏 -->
            <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="small info icon"></i>关于我</a>
            <!-- 右边搜索栏 -->
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <!-- 搜索框 -->
                    <input type="text" placeholder="Search....">
                    <!-- 右边搜索小图标 -->
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!-- 中间内容 -->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <!-- 头像图片 -->
            <div class="eleven wide column">
                <img src="https://picsum.photos/id/1074/5472/3648" alt="" class="ui rounded image">
            </div>
            <!-- 我的信息 -->
            <div class="five wide column">
                <!-- 头部 -->
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <!-- 个人简介 -->
                <div class="ui attached segment">
                    <p class="m-text">一个正在玩游戏的男人。</p>
                    <p class="m-text">没事喜欢和朋友一块玩玩lol，一起学习快乐的方法。</p>
                </div>
                <!-- 个人标签 -->
                <div class="ui attached segment">
                    <div class="ui orange basic label m-margin-tb-tiny">编程</div>
                    <div class="ui orange basic label m-margin-tb-tiny">英雄联盟</div>
                    <div class="ui orange basic label m-margin-tb-tiny">LOL</div>
                    <div class="ui orange basic label m-margin-tb-tiny">lol</div>
                </div>
                <!-- 技术标签 -->
                <div class="ui attached segment">
                    <div class="ui blue basic label m-margin-tb-tiny">java</div>
                    <div class="ui blue basic label m-margin-tb-tiny">mysql</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Scientific Internet</div>
                </div>
                <!-- 联系方式 -->
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="787492833"
                       data-position="bottom center"><i class="qq icon"></i></a>
                </div>
                <!-- 二维码 -->
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img th:src="@{/images/wechat.jpg}" src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 150px">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<footer th:replace="_fragment::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!-- 容器（内容居中） -->
    <div class="ui center aligned container">
        <!-- 开启布局，加上分割线 -->
        <div class="ui inverted divided stackable grid">
            <!-- 微信二维码区 -->
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!-- 微信二维码图片 -->
                        <img th:src="@{/images/wechat.jpg}" src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <!-- 联系我区 -->
            <div class="five wide column">
                <!-- 标题 -->
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">联系我</h4>
                <!-- 联系列表 -->
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: 787492833@qq.com</a>
                    <a href="#" class="item">WeChat: lyc_787492833</a>
                </div>
            </div>
            <!-- 博客简介区 -->
            <div class="seven wide column">
                <div class="ui inverted link list">
                    <!-- 标题 -->
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Blog</h4>
                    <!-- 简介内容 -->
                    <p class="m-text-thin m-text-spaced m-opacity-mini">
                        这是我的个人博客，会分享关于编络、写作、思考相关的任何内容。希望可以给来到这的人带来一点点微小的帮助！</p>
                </div>
            </div>
        </div>
        <!-- 分割线 -->
        <div class="ui inverted section divider"></div>
        <!-- Copyright -->
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright &copy; 2019-2021 Lziyiou Designed by Lziyiou</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
</script>
</body>
</html>